/* Match information bar */

infobar {
  color: rgb(30, 30, 30);
  background: rgba(255, 255, 255, .4);
}

spinner {
  color: rgb(30, 30, 30);
}

.report-container {
  color: rgb(30, 30, 30);
}

.submenu-header {
  font-weight: 700;
}
