[Desktop Entry]
Version=1.0
Name=Aualé
GenericName=Oware
GenericName[ast]=Oware
GenericName[ca]=Aualé
GenericName[es]=Oware
GenericName[fr]=Awalé
GenericName[id]=Oware
GenericName[ms]=Oware
GenericName[uk]=Оваре
Comment=A graphical user interface for oware
Comment[ast]=Interfaz gráfica pal xuegu oware
Comment[ca]=Una interfície gràfica per a l'aualé
Comment[es]=Una interfaz gráfica para el oware
Comment[fr]=Une interface graphique pour l'awalé
Comment[id]=Antarmuka pengguna grafis untuk Oware (Congkak)
Comment[ms]=Antaramuka pengguna bergrafik untuk oware
Comment[uk]=Графічний інтерфейс до гри у оваре
Type=Application
Icon=auale.png
Path=/usr/share/auale
Exec=auale %f
StartupNotify=true
Terminal=false
Categories=Game;BoardGame;GTK;
MimeType=text/x-oware-ogn
Keywords=oware;mancala;mankala;awari;abapa;wari;awalé;congkak;оваре
