.header-label {
  background: linear-gradient(#86b800, #699000);
  border: 1px solid #699000;
  color: #f5f5f5;
  font-size: 120%;
  font-weight: 700;
  padding: 8px;
}

.match-infobar {
  color: #333;
}
