Source: auale
Section: contrib/games
Priority: optional
Maintainer: Joan Sala Soler <contact@joansala.com>
Homepage: http://www.joansala.com/auale/
Standards-Version: 3.9.2
Build-Depends: python (>= 2.6), debhelper (>= 9)
X-Python-Version: >= 2.6

Package: auale
Section: contrib/games
Priority: optional
Architecture: all
Depends: ${misc:Depends}, ${python:Depends}, python-gi, python-gi-cairo,
 python-cairo, default-jre (>= 1.6) | java7-runtime (>= 1.6), gir1.2-rsvg-2.0,
 libglib2.0-bin, libgtk-3-0 (>= 3.10)
Recommends: libsdl2-2.0-0, libsdl2-mixer-2.0-0,
Description: Play oware abapa against the computer or annotate your games
 Aualé is a graphical user interface for the popular Oware Abapa board game. It
 may be used to analyze, record and share your own mancala games or to play
 against the computer.
 .
 This interface communicates with an oware engine through an adapted version of
 the Universal Chess Interface protocol, which makes it suitable for use with
 multiple mancala playing programs. Although, currently only the Aalina game
 engine supports this protocol.
 .
 Some of its main features include:
 .
  * Play against the computer or watch how it plays.
  * Easily configurable computer strength.
  * Annotate your matches with an easy to use interface.
  * Save your games using a portable format which resembles that of the
 popular Portable Game Notation format.
